package {{packageName}};

{{#imports}}
import {{name}};
{{/imports}}

public class {{serviceName}}{{classSuffix}} extends Generated{{serviceName}}{{classSuffix}} {

{{#methods}}
    @Override
    public void {{name}}({{serviceProviderParameter}}{{serviceName}} service) {
        // FIXME:Test Remove super method invocation and implements fixture
        // actual = service.{{name}}(getProperty("{{name}}.id"));
        // Assert.assertNotNull(actual);
        super.{{name}}({{serviceProviderInvocation}}service);
    }

{{/methods}}
}
